
body{
    background-color: silver;
    margin:15px;
    padding: 0;
    scroll-behavior: smooth;
}

.img{
    width:100px;
    height: auto;
}
.footer{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.scroll{
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
}